<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>

    <section id="about">
        <h2>About Us</h2>
        <p>Medicare is dedicated to providing top-notch healthcare services to everyone. Our team of professionals is here to support you every step of the way.</p>
    </section>
    
</body>
</html>